*{
    margin: 0px;
    padding: 0px;
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(36, 40, 40);

}
.heading h1{
    font-size: 3em;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.cleft{
    width: 40%;
    height: 80vh;
    padding: 10px;
    background-color: burlywood;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cleft .imgcont{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.cleft .imgcont img{
    width: 100%;
}
.cright{
    width:60%;
    height: 80vh;
    padding: 10px;
    background-color:darkkhaki;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cright .para{
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.cright .para a{
    text-decoration: none;
    color: black;
}

.cright .para a:hover{
    background-color: rgb(166, 198, 206);
}
.cright .para input{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;

}

.cright  button{
    margin-top:20px;
    width: 40%;
    font-size:20px;
    border-radius: 10px;
}

.bottom {
    background-color: rgb(36, 40, 40);
    color: aliceblue;
    font-size: 20px;
    height:10vh;
    padding: 20px;
}
