<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/breakfast.css">
    <title>Breakfast</title>
</head>

<body>


    <div class="heading">
        <h1>Breakfast</h1>
    </div>

    <div class="outer">

        <div class="cleft">
            <a href="https://lasvegas-sushi.com/what-do-japanese-eat-for-breakfast/" target="_blank">
                <div class="imgcont">
                    <img src="/static/img/nbreakfast.jpg" alt="dish" id="bimg">
                </div>
            </a>

        </div>

        <div class="cright">

            <div class="para">
                Nobita starts his day by having like pretty much everyone else by having the breakfast.
                <br>
                <br>
                Fun Fact!!
                About 58% of the Americans do not eat breakfast everyday.
                <br><br>

                While eating breakfast Nobita's Mom asks his marks in last test.<br>
                Enter Nobita's marks in last test <input type="text" name="marks" id="marks">
                <br>
                <br>
                Nobita gets little bit sad because his mom scolds him.
                But he knows the importance of his breakfast so he continues to eat his breakfast.
                <br>
                Nobita eats popular Japanese four dishes in breakfast they are hidden in page.
                <br>Enter their name:<br>
                1.<input type="text" name="dish" id="dish1"><br>
                2.<input type="text" name="dish" id="dish2"><br>
                3.<input type="text" name="dish" id="dish3"><br>
                4.<input type="text" name="dish" id="dish4"><br>

            </div>

            <button id="btn">Submit and Continue</button>

        </div>

    </div>

    <div class="bottom">
        Playing as {{namep}}
    </div>

    <script src="/static/js/breakfast.js"></script>
</body>

</html>