<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="heading">
        <h1>Home</h1>
    </div>

    <div class="outer">

        <div class="cleft">
            <div class="imgcont">
                <img src="/static/img/nobitanap.jpg" alt="school">
            </div>
        </div>

        <div class="cright">

            <div class="para">
                On reaching home Nobita takes a  nap while thinking about his day.
                <br>
                Upon waking he writes his daily journal to record his activities.
                <br>
                So with this Nobita day is pretty much over.
                <br>
                <br>

                So answer the last question to finish the puzzle:
                <br>
                <br>

                How much did Nobita spend on Comic Book which he bought while going to School?
                Enter your answer in Rs:<input type="text" name="sl" id="s1">
                <br>
                <br>
                
            </div>
            <button id="btn">Submit</button>
        </div>
    </div>

    <div class="bottom">

        Playing as {{namep}}
    </div>
    
    <script src="/static/js/home.js"></script>
</body>
</html>