<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>

    <div class="heading">
        <h1>Hello There!!</h1>
    </div>

    <div class="outer">

        <div class="cleft">

            <div class="imgcont">
                <img src="/static/img/nobitahi.jpg" alt="MAX Image">
            </div>
        </div>

        <div class="cright">

            <h2>Here are some things that you should remember that might help you later in puzzle</h2>
            <p>
                <br><br><br>
                Name:Nobita Nobita<br>
                Age:10 years<br>
                Class: 5th<br>
                Hobby: Sleeping<br>
                School time: 9:00 AM to 15:00AM<br>
                Marks in Last Test: 20/100<br>
  
              </p>
            
        </div>


    </div>
    
</body>
</html>