<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching Show</title>
    <link rel="stylesheet" href="/static/css/tvshow.css">
</head>

<body>

    <div class="heading">
        <h1>Watching Show</h1>
    </div>

    <div class="outer">

        <div class="cleft">

            <a href="/tvshowClue1" target="_blank">
                <div class="imgcont">
                    <img src="/static/img/nobitaTV.jpg" alt="news">
                </div>
            </a>


        </div>

        <div class="cright">

            <div class="para">

                Since there is some time left to go to School.
                <br>
                Nobita decides to watch is favourite show on television.
                <br>
                While watching the show he decides to pack his bag for school.
                <br>
                So he looks at his <a href="/tvshowClue2" target="_blank"><button>Timetable</button></a>
                <br>
                And keeps books in his bag as per the order of classes of that day.
                <br>
                Hint:Both clues for timetable and day are hidden.
            </div>

            <div class="books">
                <br>
                Enter the Order in which he keeps the books.
                <br>
                <br>
                Book 1: <input type="text" name="book1" id="book1">
                <br>
                <br>
                Book 2: <input type="text" name="book2" id="book2">
                <br>
                <br>
                Book 3: <input type="text" name="book3" id="book3">

                <button id="btn">Submit</button>
            </div>



        </div>

    </div>

    <div class="bottom">

        Playing as {{namep}}
    </div>

    <script src="/static/js/tvshow.js"></script>
</body>

</html>