<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clue 1</title>
    <style>
        .container{
            height: 100vh;
            font-size: 80px;
            background-color: darkkhaki;
            display: flex;
            margin: 0px;
            padding: 50px;
            justify-content: center;
            align-items: center;

        }
    </style>
</head>
<body>

    <div class="container">
        <span>
            Clue 1:<br>
            Today is Tuesday So Use it to determine the order of books from Timetable.
        </span>
    </div>

</body>
</html>