<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
    <link rel="stylesheet" href="/static/css/university.css">
</head>
<body>

    <div class="heading">
        <h1>At School</h1>
    </div>

    <div class="outer">
        <div class="cleft">  
            <div class="imgcont">
                <img src="/static/img/school.jpeg" alt="school">
            </div>
        
        </div>

        <div class="cright">  
            <div class="para">
                Nobita when he was going to School buys a Comic Book on the way.
                <br>
                And he spends Rs97 for Comic Book.
                Remember the cost it might help you later.
                <br>
                <br>

                Nobita gets late for school while buying the book and realizes that his class has already started.
                <br>
                Till then  Nobita's teacher had started teaching.
                <br>
                Then his teacher decides to take suprise test.
                <br>
                <br>
                
                Help Nobita answer the following questions in his GK test.
                <br>
                <br>

                <a href="https://en.wikipedia.org/wiki/List_of_islands_of_Japan" target="_blank">Number of islands in Japan:</a><input type="text" name="sl" id="s1">
                <br>
                <br>
                <a href="https://en.wikipedia.org/wiki/Capital_of_Japan" target="_blank">Capital Of Japan:</a><input type="text" name="sl" id="s2">
                <br>
                <br>
                <a href="https://en.wikipedia.org/wiki/Atomic_bombings_of_Hiroshima_and_Nagasaki#:~:text=On%206%20and%209%20August,weapons%20in%20an%20armed%20conflict." target="_blank">In which year Nuclear Bomb was dropped on Japan:</a><input type="text" name="sl" id="s3">
                <br>
                <br>
                <a href="https://www.britannica.com/event/Japan-earthquake-and-tsunami-of-2011" target="_blank">In which year Tsunami Hit Japan:</a><input type="text" name="sl" id="s4">
                <br>
                <br>


            </div>

            <button id="btn">Submit</button>


        </div>
    </div>

    <div class="bottom">

        Playing as {{namep}}
    </div>

    <script src="/static/js/university.js"></script>
</body>
</html>